<div class="modal-header">
    <h5 class="modal-title">@Titel</h5>
    <button type="button" class="close" @onclick="BtnClick">
        <span>&times;</span>
    </button>
</div>

@code {
    [Parameter]
    public string? Titel { get; set; }
    [Parameter]
    public Func<bool>? ShouldClose { get; set; }

    public void BtnClick() 
    {
        if (ShouldClose != null && !ShouldClose())
            return;

        ModalManager.Instance?.Hide();
    }
}
