@inherits LayoutComponentBase

<div class="main-wrapper">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="position: absolute; width: 100vw; height: 100vh;">
        <div class="auth-box border-top border-secondary">
            @Body
        </div>
    </div>
</div>