<aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">                
                <SideBarItem Text="Dashboard" Icon="bi bi-house" HRef="Home" />
                <SideBarItem Text="Environments" Icon="bi bi-shop" HRef="Counter" />
                <SideBarItem Text="Docker" Icon="bi bi-box-seam" HRef="#" />
                <SideBarItem Text="PhpMyAdmin" Icon="bi bi-filetype-php" HRef="#" />
                
                <CollapsibleSideBarItem Text="Knowledge" Icon="bi bi-book">
                    <SideBarItem Text="Payment Interfaces" Icon="bi bi-wallet" HRef="#" />
                    <SideBarItem Text="ShopDev Dokumentation" Icon="bi bi-question-circle" HRef="#" />
                </CollapsibleSideBarItem>

                <CollapsibleSideBarItem Text="Administration" Icon="bi bi-wrench-adjustable-circle">
                    <SideBarItem Text="User Management" Icon="bi bi-people" HRef="#" />
                    <SideBarItem Text="Manage Roles" Icon="bi bi-person-badge" HRef="#" />
                    <SideBarItem Text="Manage Composer Files" Icon="bi bi-file-earmark-code" HRef="#" />
                    <SideBarItem Text="Manege Templates" Icon="bi bi-diagram-3" HRef="#" />
                    <SideBarItem Text="Settings" Icon="bi bi-tools" HRef="#" />
                    <SideBarItem Text="Logs" Icon="bi bi-file-earmark-text" HRef="#" />
                </CollapsibleSideBarItem>
            </ul>
        </nav>
    </div>
</aside>